/* General or Reused code */
.wrapper{
  width:960px;
  margin:0 auto;
}

/* HEADER */
header{
  background: url("../images/header_background.webp") #312852;
  height: 670px;
  width: 100%;
}

  #logo{
    width: 16%;
    height: 75px;
    float: left;
  }
    #logo img{
      padding-top: 10px;
    }

  /* HEADER - Navigation */
  nav{
    width: 84%;
    height: 75px;
    float: left;
  }
    nav ul{
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      overflow: hidden;
      float: right;
    }
      nav ul li{
        float: left;
      }
        nav ul li a{
          display: block;
          color: white;
          text-align: center;
          padding: 30px 20px;
          text-decoration: none;
          font-size: 13px;
          font-family: 'Roboto', sans-serif;
        }

          nav ul li a:hover{
            color: #00e0d0;
          }
    /* HEADER - End Navigation */
    /* HEADER - Slide Information */
    header section#slide_info{
      width: 100%;
      height: 600px;
    }
      header section#slide_info h1{
        font-family: 'Playfair Display', serif;
        font-size: 32px;
        margin: 0px;
        text-align: center;
        padding-top: 230px;
        color: white;
      }

      header section#slide_info hr{
        width: 50px;
        color: #00e0d0
      }
      header section#slide_info p{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 12px;
      }
      header section#slide_info button{
        background: none;
        color: #00e0d0;
        border: 2px solid #00e0d0;
        padding: 15px;
        font-family: 'Hammersmith One', sans-serif;
        font-size: 16px;
        float: center;
        margin-left: 43.5%;
      }
        header section#slide_info button:hover{
          color: white;
          border: 2px solid white;
          cursor: pointer;
        }
      /* HEADER - End Slide Information */
/* END - HEADER */

/* FOOTER */
#footer{
  background: url("../images/footer_background.webp") no-repeat #251f44;
  height: 400px;
}
/* END - FOOTER */
